* {
  margin: 0;
  padding: 0;
}

.grid-container {
  border: 2px solid #111;
  display: inline-block;
}

.grid-row {
  display: flex;
}

.cell {
  box-sizing: border-box;
  background-color: #fefefe;
  border: 1px solid #ededed;
}

.active-cell {
  border-color: #111;
  box-shadow: 0 0 0 1px #111;
  z-index: 2;
}
